@font-face {
    font-family: "AvenirNextRegular";
    src: url("/Fonts/AvenirNext/AvenirNextRegular/avenirnextcyr-regular.eot") format("embedded-opentype");
    src: url("/Fonts/AvenirNext/AvenirNextRegular/avenirnextcyr-regular.woff") format("woff"),
            url("/Fonts/AvenirNext/AvenirNextRegular/avenirnextcyr-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AvenirNextBold";
    src: url("/Fonts/AvenirNext/AvenirNextBold/avenirnextcyr-bold.eot") format("embedded-opentype");
    src: url("/Fonts/AvenirNext/AvenirNextBold/avenirnextcyr-bold.woff") format("woff"),
            url("/Fonts/AvenirNext/AvenirNextBold/avenirnextcyr-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
